<form class="form-inline form-horizontal">
	<fieldset>
		<legend>添加用户</legend>

		<div class="control-group">
			<label class="control-label" for="inputEmail">姓名</label>
			<div class="controls">
				<input id="inputEmail" type="text" /> <span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="inputEmail">密码</label>
			<div class="controls">
				<input id="inputEmail" type="password" /> <span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="inputEmail">邮箱</label>
			<div class="controls">
				<input id="inputEmail" type="email" /> <span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group error">
			<label class="control-label" for="inputEmail">验证未通过</label>
			<div class="controls">
				<input id="inputEmail" type="text" /> <span class="help-inline">提示信息！！</span>
			</div>
		</div>

	</fieldset>
</form>