<div>
<div class="form-inline">
	<fieldset >
		<legend>用户列表</legend>
			<label >姓名 <input type="text" ng-model="user.username" class="input-small" /></label>
			<label >time<input type="time" ng-model="user.phone" class="input-small" /></label>
			<button class="btn" ng-click="page">提交</button>
	</fieldset>
</div>
<div></div>
<div>
	<label><button class="btn btn-success">新增</button></label>
</div>

 <table class="table table-hover table-bordered table-condensed">
	<thead>
		<tr >
			<th ng-repeat="meta in metas">{{meta}}</th>
		</tr>
	</thead>
	<tbody>asdad
		<tr ng-repeat="user in context.rows">
			<td>{{user.username}}ads</td>
			<td>{{user.email}}ad</td>
			<td>{{user.mobilePhoneNumber}}ada</td>
			<td>{{user.status}}ada</td>
			<td>{{user.admin}}ada</td>
			<td>{{user.createDate | dateformat}}asd</td>
		</tr>
	</tbody>
</table>

<page></page>

</div>