 <div class="pagination pagination-centered pagination-small" id="page">
	<ul>
		<li>
		<a href="#/{{path}}/{{context.page-1}}" ng-if="context.page-1 > 0">上一页</a>
		<a href="#/{{path}}/1" ng-if="context.page-1 == 0">上一页</a>
		</li>
		<li ng-repeat="page in pages" class="{{page.active}}"><a href="#/{{path}}/{{page.i}}" >{{page.i}}</a></li>
		<li>
		<a href="#/{{path}}/{{context.page+1}}" ng-if="context.page+1 < context.totalPage">下一页</a>
		<a href="#/{{path}}/{{context.totalPage}}" ng-if="context.page+1 >= context.totalPage">下一页</a>
		</li>
	</ul>
</div> 