<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="QUARTZ">
	<sql id="sql">
		SELECT
		id as id			<!-- id -->
		,JOB_NAME as jobName			<!-- 作业名 -->
		,JOB_GROUP as jobGroup		<!-- 作业分组 -->
		,CLAZZ as clazz          	<!-- 作业类名 -->
		,CRON_EXPRESSION as cronExpression	<!-- 作业执行表达式 -->
		,TRIGGER_NAME as triggerName	<!-- 触发器名称 -->
		,TRIGGER_GROUP as triggerGroup	<!-- 触发器分组 -->
		,STATUS as status	<!-- 作业状态 1运行 -1 暂停 -->
		,JOB_SRC as src
		,create_time as createTime<!-- 创建时间 -->
		,create_author as createAuthor	<!-- 创建人 -->
		FROM t_sys_job
	</sql>
	
	<sql id="where">
		<where>
			<if test="jobName !=null and jobName != '' ">
				and job_name = '%${jobName}%'
			</if>
			<if test="jobGroup != null and jobGroup!='' ">
				and job_group = #{jobGroup}
			</if>
			<if test="cronExpression != null and cronExpression != '' ">
				and cron_expression = #{cronExpression}
			</if>
			<if test="triggerName != null and triggerName != '' ">
				and trigger_name = #{triggerName}
			</if>
			<if test="triggerGroup != null and triggerGroup != '' ">
				and trigger_group = #{triggerGroup}
			</if>
			<if test="status != null and status != '' ">
				and status = #{status}
			</if>
			<if test="src !=null and src!='' ">
				and job_src like '%${src}%'
			</if>
		</where>
	</sql>
	<select id="load" parameterType="map" resultType="map">
		<include refid="sql" />
		<where>
			id=#{id}
		</where>
	</select>
	<select id="query" parameterType="map" resultType="map">
		<include refid="sql" />
		<include refid="where"/>
	</select>
	<select id="count" parameterType="map" resultType="int">
		select count(*) from t_sys_job <include refid="where"/>
	</select>
	
	<select id="countQrtzJobDetails" parameterType="map" resultType="int">
		SELECT count(*) FROM qrtz_job_details WHERE Job_name =#{jobName};
	</select>
	<select id="countQrtzCronTriggers" parameterType="map" resultType="int">
		SELECT count(*) FROM qrtz_cron_triggers WHERE trigger_name =#{trigger_name};
	</select>
	<select id="countJobClass" parameterType="map" resultType="int">
		SELECT count(*) FROM qrtz_job_details WHERE Job_class_name =#{clazz};
	</select>
	
	<select id="listAll" resultType="map">
		<include refid="sql"/>
	</select>
	
	<insert id="insert" parameterType="map">
		INSERT INTO t_sys_job(
		ID 				<!-- id -->
		,JOB_NAME 			<!-- 作业名 -->
		,JOB_GROUP 			<!-- 作业分组 -->
		,CLAZZ             	<!-- 作业类 -->
		,CRON_EXPRESSION 	<!-- 作业执行表达式 -->
		,TRIGGER_NAME 		<!-- 触发器名称 -->
		,TRIGGER_GROUP 		<!-- 触发器分组 -->
		,STATUS  			<!-- 作业状态 1运行 -1 暂停 -->
		,JOB_SRC
		,create_time 		<!-- 创建时间 -->
		,create_author		<!-- 创建人 -->
		)values(
		#{id}
		,#{jobName}
		,#{jobGroup}
		,#{clazz}
		,#{cronExpression}
		,#{triggerName}
		,#{triggerGroup}
		,#{status}
		,#{src}
		,#{createTime}
		,#{createAuthor}
		)
	</insert>

	<delete id="delete" parameterType="map">
		DELETE FROM t_sys_job
		<where>
			id = #{id}
		</where>
	</delete>

	<update id="update" parameterType="map">
		UPDATE t_sys_job
		<set>
			<if test="jobName !=null and jobName !='' ">
				job_name = #{jobName}
			</if>
			<if test="jobGroup !=null and jobGroup!='' ">
				job_group = #{jobGroup}
			</if>
			<if test="cronExpression !=null and cronExpression !='' ">
				cron_expression = #{cronExpression}
			</if>
			<if test="triggerName !=null and triggerName !='' ">
				trigger_name = #{triggerName}
			</if>
			<if test="triggerGroup !=null and triggerGroup !='' ">
				trigger_group = #{triggerGroup}
			</if>
			<if test="status != null and status != '' ">
				status = #{status}
			</if>
			<if test="src != null and src != '' ">
				job_src = #{src}
			</if>
		</set>
		<where>
			id=#{id}
		</where>
	</update>
</mapper>