<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security.xsd">

  <!-- 不要过滤图片等静态资源，其中**代表可以跨越目录，*不可以跨越目录。 -->  
  <!-- <http pattern="/**/*.jpg" security="none" />  
  <http pattern="/**/*.png" security="none" />  
  <http pattern="/**/*.gif" security="none" />  
  <http pattern="/**/*.css" security="none" />  
  <http pattern="/**/*.js" security="none" />   -->
  <!-- 登录页面和忘记密码页面不过滤 -->  
  <http pattern="/login.jsp" security="none" />  
<!--   <http pattern="/jsp/forgotpassword.jsp"   security="none" /> -->
  
  <http auto-config="true" access-denied-page="/accessDenied.jsp" >
   <form-login login-page="/login.jsp" 
                                authentication-failure-url="/login.jsp?error=true"
                                default-target-url="/wc.jsp" 
                                username-parameter="username"
                                password-parameter="password"
                                login-processing-url="/login"
                                />
                    <logout invalidate-session="true" 
                            logout-url="/doLogOut"
                            logout-success-url="/login.jsp"
                            delete-cookies="true"/>

        <!-- 访问/admin.jsp资源的用户必须具有ROLE_ADMIN的权限 -->
        <intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" />
        <!-- 访问/**资源的用户必须具有ROLE_USER的权限 -->
<!--        <intercept-url pattern="/**" access="ROLE_USER" /> -->
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" expired-url="/login.jsp" />
        </session-management>
        <!-- insert into persistent_logins (username, series, token, last_used) values(?,?,?,?) -->
       <!--  <remember-me user-service-ref="myUserDetailService"  data-source-ref="dataSource"/> -->
        <!-- 增加一个filter，这点与Acegi是不一样的，不能修改默认的filter了， 这个filter位于FILTER_SECURITY_INTERCEPTOR之前 -->
        <custom-filter ref="myFilter" before="FILTER_SECURITY_INTERCEPTOR" />
    </http>

    <!-- 验证配置 ， 认证管理器，实现用户认证的入口，主要实现UserDetailsService接口即可 -->
    <authentication-manager alias="myAuthenticationManager">
        <authentication-provider user-service-ref="myUserDetailService">
            <!-- 如果用户的密码采用加密的话 <password-encoder hash="md5" /> -->
        </authentication-provider>
    </authentication-manager>
        
</beans:beans>