<div class="accordion" id="accordion-836085">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse"
										data-parent="#accordion-836085"
										href="#accordion-element-653046">调度管理</a>
									<!-- <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-836085" href="#accordion-element-653046">选项卡 #1</a> -->
								</div>
								<div id="accordion-element-653046"
									class="accordion-body in collapse">
									<ul class="nav nav-list ">
										<li class="active"><a href="#">首页</a></li>
										<li><a href="#">库</a></li>
									</ul>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse"
										data-parent="#accordion-836085"
										href="#accordion-element-336363">系统设置</a>
								</div>
								<div id="accordion-element-336363"
									class="accordion-body collapse">
									<ul class="nav nav-list ">
										<li class="active"><a href="#">用户管理</a></li>
										<li><a href="#">角色管理</a></li>
									</ul>
								</div>
							</div>
						</div>