<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>登录</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/soa-rest/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span12">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container-fluid">
								 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="#" class="brand">SOA</a>
								<div class="nav-collapse collapse navbar-responsive-collapse">
									<ul class="nav pull-right">
									
										<li class="divider-vertical">
										</li>
										<li class="dropdown">
											 <a data-toggle="dropdown" class="dropdown-toggle" href="#">admin<strong class="caret"></strong></a>
											<ul class="dropdown-menu">
												<li>
													<a href="#">修改个人信息</a>
												</li>
												<li class="divider">
												</li>
												<li>
													<a href="#">安全退出</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span2" id="menu">
				
					<!-- <div class="accordion" id="accordion-836085">
					
					
						<div class="accordion-group">
							<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-836085" href="#accordion-element-653046">系统设置</a>
							</div>
							<div id="accordion-element-653046" class="accordion-body in collapse">
						         <ul class="nav nav-list ">
						              <li class="active">
							              <a href="#">调度管理</a>
						             </li>
						             <li>
							               <a href="#">告警管理</a>
						             </li>
					             </ul>
							</div>
						</div>
						
						<div class="accordion-group">
							<div class="accordion-heading">
								 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-836085" href="#accordion-element-336363">基本设置</a>
							</div>
							<div id="accordion-element-336363" class="accordion-body collapse">
								       <ul class="nav nav-list ">
						              <li class="active">
							              <a href="#">用户管理</a>
						             </li>
						             <li>
							               <a href="#">角色管理</a>
						             </li>
					             </ul>
							</div>
						</div>
				
						
						
					</div> -->
					
					
				</div>
				
				<div class="span10">
				
					<div class="form-inline">
						<fieldset>
							 <legend>表单项</legend> 
							 <label>表签名<input type="text" /> </label>
							 <label>表签名<input type="text" /> </label>
							 <label>表签名<input type="text" /> </label>
							 <br>
							 <label>表签名<input type="text" /> </label>
							 <label>表签名<input type="text" /> </label>
							 <button type="submit" class="btn">提交</button>
						</fieldset>
					</div>
					<div>
						<label><button class="btn btn-success">新增</button></label>
					
					</div>
					<table class="table table-hover table-bordered table-condensed">
						<thead>
							<tr>
								<th>
									编号
								</th>
								<th>
									产品
								</th>
								<th>
									交付时间
								</th>
								<th>
									状态
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Default
								</td>
							</tr>
							<tr class="success">
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Approved
								</td>
							</tr>
							<tr class="error">
								<td>
									2
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									Declined
								</td>
							</tr>
							<tr class="warning">
								<td>
									3
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									03/04/2012
								</td>
								<td>
									Pending
								</td>
							</tr>
							<tr class="info">
								<td>
									4
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									04/04/2012
								</td>
								<td>
									Call in to confirm
								</td>
							</tr>
						</tbody>
					</table>
					<div class="pagination pagination-centered pagination-small">
						<ul>
							<li>
								<a href="#">上一页</a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">下一页</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/soa-rest/static/commons/jquery.js"></script>
<script src="/soa-rest/static/commons/js/Request.js"></script>
<script src="/soa-rest/static/commons/js/StringBuffer.js"></script>
<script src="/soa-rest/static/commons/js/Util.js"></script>
<script src="/soa-rest/static/commons/js/StringUtil.js"></script>
<script src="/soa-rest/static/commons/js/Table.js"></script>
<script src="/soa-rest/static/commons/js/Form.js"></script>
<script src="/soa-rest/static/commons/js/Validata.js"></script>
<script src="/soa-rest/static/commons/js/Constants.js"></script>
<script src="/soa-rest/static/commons/js/Menu.js"></script>
<script src="/soa-rest/static/bootstrap/js/bootstrap.min.js"></script>
<script>
		var str = new Menu([
			      {
			    	  module:{
			    		  id:'1'
			    		  ,name : '系统设置'	  
			    	  }
			      	 ,menus:[{
			      		 name:'用户管理'
			      	 		},{
			      	 	 name :'角色管理'
			      	 		}
			      	 		
			      	 		]
			      },
			      {
			    	  module:{
			    		  id:'2'
			    		  ,name : '系统设置'	  
			    	  }
			      	 ,menus:[{
			      		 name:'告警管理'
			      	 		},{
			      	 	 name :'调度管理'
			      	 		}
			      	 		
			      	 		]
			      }
			      
			      ]).toString();
		$('#menu').html(str);
</script>
</body>
</html>
